@import 'vars';
@import 'fonts';
@import 'global';

.header {
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 91px;
  }

  &__text {
    margin-left: auto;
    margin-right: 50px;

    span {
      color: $orange;
    }
  }

  &__menu {
    background-color: $bg;
    .menu {
      height: 60px;
      display: flex;
      align-items: center;
      &__list {
        li {
          display: inline-block;
          & + li {
            margin-left: 38px;
          }
          a {
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }
  }
}

.header__box {
  display: flex;
  align-items: center;
  height: 100%;
  & > div {
    padding-top: auto;
    padding-bottom: auto;
  }
  &.login__out {
    .header__btn-login,
    .header__btn-register {
      display: block;
    }
    .header__btn-logout,
    .user {
      display: none;
    }
  }
  &.login__on {
    .header__btn-login,
    .header__btn-register {
      display: none;
    }
    .header__btn-logout,
    .user {
      display: block;
    }
  }
}
.circle {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  & > a {
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    position: relative;
    &::before {
      position: absolute;
      transition: color 0.5s;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #a0a0a0;
    }
    span {
      position: absolute;
      right: -5px;
      top: -8px;
      @include f500;
      font-size: 11px;
      line-height: 18px;
      padding: 0 2px;
      min-width: 18px;
      height: 18px;
      color: #fff;
      border-radius: 9px;
      text-align: center;
    }
  }
  &:hover > a::before {
    color: $bg;
  }
  & + .circle {
    margin-left: 16px;
  }
}

// start dropdown-menu

.header-drop-menu {
  width: 268px;
  position: absolute;
  top: 90px;
  right: 0;
  padding: 0px;
  background-color: #fff;
  border: 0px solid #d5d5d5;
  border-right-width: 1px;
  border-left-width: 1px;
  overflow: hidden;
  height: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.4s;
  z-index: 999;
}

.circle:hover .header-drop-menu {
  height: auto;
  overflow: auto;
  border-width: 1px;
  transform: scaleY(1);
}

.notification__item {
  padding: 20px 58px 24px 23px;
  display: flex;
  position: relative;
  @include f400;
  & + .notification__item {
    border-top: 1px solid #d5d5d5;
  }
  &-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
  }
  &::before {
    font-size: 16px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0bec5;
  }
  &.notification-unread::before {
    color: $tomato;
  }
}

.notification__title {
  font-size: 12px;
  @include f400;
  color: $green;
  margin-top: 8px;
}

.notification__date {
  color: #707070;
  font-size: 10px;
  @include f400;
  margin-top: 10px;
}

.mail__item {
  padding: 20px 58px 24px 23px;
  display: flex;
  position: relative;
  @include f400;
  & + .mail__item {
    border-top: 1px solid #d5d5d5;
  }
  &-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
  }
  &::before {
    font-size: 16px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #b0bec5;
  }
  &.mail-unread::before {
    color: $tomato;
  }
}
.mail__name {
  font-size: 12px;
  @include f700;
  color: $bg;
  @include f400;
}
.mail__theme {
  font-size: 11px;
  color: $green;
  margin-top: 8px;
  @include f400;
}

.mail__date {
  color: #707070;
  font-size: 10px;
  margin-top: 10px;
  @include f400;
}

.basket__item {
  padding: 20px 23px 24px;
  border-bottom: 1px solid #d5d5d5;
  display: flex;
  &-image {
    width: 73px;
    height: 57px;
    margin-right: 15px;
  }

  .basket__title {
    @include f500;
    display: block;
    color: $bg;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 7px;
  }
  .basket__category {
    margin-bottom: 7px;
    display: block;
    font-size: 12px;
    color: $green;
    line-height: 12px;
  }
  .basket__price {
    @include f500;
    font-size: 16px;
    line-height: 16px;
    color: #000;
  }
}

.basket__payment {
  padding: 0 17px 13px;
}

.basket__cost {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 13px;
  color: $bg;
  @include f700;
}

.basket__btns {
  display: flex;
  justify-content: space-between;
}

.basket__btn {
  color: #fff;
  @include f700;
  font-size: 14px;
}

.cart-btn {
  background-color: $green;
  padding: 13px 19px;
}

.checkout-btn {
  padding: 13px 12px;
  background-color: $orange;
}

.notification span {
  background-color: $yellow;
}

.mail span {
  background-color: $tomato;
}

.basket {
  & span {
    background-color: $green;
  }
}
// end dropdown-menu

.header__user {
  min-width: 158px;
  margin-left: 16px;
  margin-right: 25px;
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:hover .user__list {
    height: auto;
    border-width: 1px;
    padding: 25px 20px;
    transition: all 0.4s;
  }
}

.user__list {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 90px;
  width: 100%;
  padding: 0 20px;
  background-color: #fff;
  font-size: 12px;
  border: 0px solid #d5d5d5;
  height: 0;
  overflow: hidden;
  & li + li {
    margin-top: 20px;
  }
}

.right-arrow {
  padding-left: 15px;
  position: relative;
  &::before {
    content: '\f105';
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    top: 0;
    color: $green;
  }
}

.user__avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin-right: 14px;
}
.user__info {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  padding-right: 15px;
  width: 100%;
  &::before {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 16px;
    font-family: 'icomoon';
    color: #707070;
  }
}
.user__nickname {
  color: #222222;
  @include f500;
}

.user__balance {
  color: $green;
  @include f700;
}

.header__btn {
  font-size: 12px;
  color: #fff;
  padding: 4px;
  width: 72px;
  text-align: center;
  border-radius: 4px;
  &-login {
    background-color: $green;
  }
  &-register {
    margin-left: 7px;
    background-color: $orange;
  }
  &-logout {
    background-color: $orange;
  }
}

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 532px;
  text-align: center;

  &__inner {
    @include f500;
    color: #fff;
    padding: 158px 0 100px;
    &-title {
      font-size: 48px;
      line-height: 48px;
      @include f700;
      margin-bottom: 28px;
    }

    &-text {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 50px;
    }

    &-form {
      margin: 0 auto;
      max-width: 670px;
      position: relative;
      input {
        outline: none;
        height: 56px;
        width: 100%;
        border-radius: 4px;
        border: none;
        box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
        padding: 0 60px 0 20px;
        color: #90a4ae;
        &::placeholder {
          font-weight: 500;
          font-size: 14px;
          color: #90a4ae;
        }
      }

      button {
        outline: none;
        position: absolute;
        border: none;
        right: 20px;
        top: 20px;
        background-color: transparent;
      }
    }
  }
}

.product {
  background-color: $grey;
  padding: 110px 0;
  @include f500;
  &__inner {
    .mixitup-control-active {
      color: #fff;
      background-color: $orange;
    }
    &-btn {
      display: flex;
      justify-content: center;
      margin: 60px 0;
      button {
        transition: all 0.5s;
        outline: none;
        font-size: 14px;
        padding: 12px 25px;
        color: $bg;
        border: none;
        background-color: #fff;
        border-radius: 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        & + button {
          margin-left: 6px;
        }
      }
      &.popular-btn {
        margin: 80px 0 0px 0;
        button {
          @include f400;
          font-size: 16px;
          padding: 20px 30px;
        }
      }
    }
    &-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 32px;
    }
  }
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  &-img {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-content {
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  &-title {
    font-size: 18px;
    color: $bg;
    display: block;
    line-height: 28px;
  }

  &-category {
    font-size: 14px;
    color: $green;
    display: block;
  }
  &-price {
    @include f700;
    font-size: 18px;
    color: $bg;
    margin-left: 20px;
  }
  &-info {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px;
    border-top: 1px solid $product-border;
  }
  &-author {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  &-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 14px;
  }
  &-star {
    @include f400;
    font-size: 12px;
    color: #b0bec5;
    display: flex;
    align-items: center;
    span {
      color: $bg;
    }
    .product-star {
      margin: 0 5px;
    }
  }
}

.product-slider {
  padding: 110px 0;
  &__title {
    color: #000;
    margin-bottom: 40px;
  }
  .slick-slide {
    margin: 15px 15px 70px;
  }

  .slick-dots {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 3px;
      font-size: 0;
      button {
        height: 16px;
        width: 16px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: #e8e8e8;
      }
      &.slick-active {
        button {
          background-color: $green;
        }
      }
    }
  }
}

.advantages {
  background-color: $bg;
  padding: 110px 0;
  &__title {
    margin-bottom: 80px;
    color: #fff;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    text-align: center;
    max-width: 345px;
    padding: 0 15px;
    &-img {
      margin: 0 auto 40px;
      height: 113px;
      width: 113px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      .item1-svg {
        width: 50px;
        height: 67px;
      }
      .item2-svg {
        width: 71px;
        height: 73px;
      }
      .item3-svg {
        width: 86px;
        height: 76px;
      }
    }
    &-title {
      color: #fff;
      @include f500;
      font-size: 24px;
      margin-bottom: 25px;
    }
    &-text {
      color: #b0bec5;
    }
    &:hover {
      .advantages__item-img {
        background-color: $green;
        g {
          fill: #fff;
          transition: all 0.5s;
        }
      }
      .advantages__item-title {
        color: $green;
        transition: all 0.5s;
      }
    }
  }
}

.author {
  min-height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 216px;
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 71px 59px;
  }
  &__title {
    @include f500;
    color: #fff;
    font-size: 30px;
    max-width: 270px;
    line-height: 36px;
    span {
      @include f700;
    }
  }
  &__link {
    background-color: #fff;
    a {
      font-size: 18px;
      padding: 25px 43px;
      color: $bg;
    }
  }
}

.tutorials {
  padding: 70px 0 120px;
  &__title {
    margin-bottom: 60px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
    &-img {
      min-height: 270px;
    }
    &-title {
      padding: 40px 0;
      text-align: center;
      a {
        font-size: 24px;
        @include f700;
        color: $bg;
        background-color: #f8f8f8;
      }
    }
    & + & {
      margin-left: 30px;
    }
  }
}

// start footer
.footer {
  background-color: $bg;
  color: #b7c3c8;
}

.footer__content {
  padding: 110px 0 90px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  max-width: 270px;
  width: 100%;
  &-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    line-height: 24px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 51px;
      height: 3px;
      background-color: $green;
      bottom: 0px;
      left: 1px;
    }
  }
  &.item__list {
    max-width: 230px;
    width: 100%;
  }
  &-text {
    line-height: 24px;
    margin-bottom: 25px;
  }
}
.footer__item-address,
.footer__item-phone {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding-left: 30px;
  margin-top: 20px;
  position: relative;
  &::before {
    content: '';
    font-family: 'icomoon';
    font-size: 18px;
    line-height: 24px;
    color: $green;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.footer__item-address::before {
  content: '\f041';
}

.footer__item-phone::before {
  content: '\f095';
}

.footer__item-list {
  li {
    margin-top: 14px;
    padding-left: 22px;
    position: relative;
    &::before {
      content: '\f105';
      font-family: 'icomoon';
      font-size: 18px;
      color: $green;
      position: absolute;
      top: 0;
      left: 0;
    }
    a {
      color: #b7c3c8;
    }
  }
}

.footer__social-media {
  margin-bottom: 30px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
    a {
      width: 28px;
      height: 28px;
    }
  }
  .item-twitter {
    background-position: 56px 0;
  }
  .item-youtube {
    background-position: 0 28px;
  }
  .item-pinterest {
    background-position: -28px -28px;
  }
  .item-linkedin {
    background-position: 28px 0;
  }
}

.footer__item-subtitle {
  font-size: 20px;
  color: #fff;
  line-height: 36px;
}

.footer__form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  &-email {
    width: 100%;
    height: 38px;
    border: none;
    background-color: #2f3c43;
    padding: 0 15px;
    color: #697378;
    ::placeholder {
      font-size: 14px;
      color: #697378;
    }
  }
  &-submit {
    top: 0;
    right: 0;
    width: 43px;
    height: 38px;
    background-color: $green;
    border: none;
    position: relative;
    &::before {
      content: '\f124';
      font-family: 'icomoon';
      font-size: 20px;
      color: #fff;
      position: absolute;
      top: 9px;
      right: 10px;
    }
  }
}
.footer__copy {
  text-align: center;
  line-height: 36px;
  padding: 20px 0;
  border-top: 1px solid #424d53;
  color: #919699;
}
//end footer
